<nav #navBar class="navbar navbar-expand-md navbar-light bg-light fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="">
            <img src="./assets/images/freshcart-logo.svg" alt="fresh cart logo">
        </a>
        <button
            class="navbar-toggler d-lg-none"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavId"
            aria-controls="collapsibleNavId"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active-link" routerLink="/home" aria-current="page">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active-link" routerLink="/products" aria-current="page">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active-link" routerLink="/brands" aria-current="page">Brands</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active-link" routerLink="/categories" aria-current="page">Categories</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0 align-items-center">
                <li>
                    <div class="nav-item dropdown">
                        <button class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-user fa-xl text-main"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li role="button" routerLink="/forgotpassword" routerLinkActive="active-link"><a class="dropdown-item">Forget Password</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link position-relative" routerLink="/wishlist">
                        <i class="fas fa-heart fa-2x text-danger"></i>
                        <span class="badge bg-info position-absolute top-0 end-0">0</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link position-relative" routerLink="/cart">
                        <i class="fas fa-cart-shopping fa-2x text-main"></i>
                        <span class="badge bg-info position-absolute top-0 end-0">{{cartNum}}</span>
                    </a>
                </li>
                <li class="nav-item d-flex me-2 me-lg-3">
                    <a class="nav-link" href="https://www.instagram.com/" target="blank"><i class="fab fa-instagram"></i></a>
                    <a class="nav-link" href="https://www.facebook.com/" target="blank"><i class="fab fa-facebook"></i></a>
                    <a class="nav-link" href="https://www.tiktok.com/" target="blank"><i class="fab fa-tiktok"></i></a>
                    <a class="nav-link" href="https://www.twitter.com/" target="blank"><i class="fab fa-twitter"></i></a>
                    <a class="nav-link" href="https://www.youtube.com/" target="blank"><i class="fab fa-youtube"></i></a>
                </li>
                <li class="nav-item">
                    <span role="button" (click)="signOut()">SignOut</span>
                </li>
            </ul>
        </div>
    </div>
</nav>
